@tailwind base;

@tailwind components;

.input-forms {
  @apply mt-1 block w-full bg-gray-100 border-transparent focus:border-gray-300 focus:bg-white focus:ring-0;
}

.btn {
  @apply bg-green-400 text-white font-medium border border-transparent rounded-md;
}

.calendar {
  @apply relative flex text-2xl md:text-6xl bg-gray-900 text-white h-16 md:h-32 w-16 md:w-32 text-center justify-center items-center;
}

#counter div::before {
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 100%;
  height: 30px;
  background: rgba(253, 230, 138, 1);
  color: #111827;
  font-size: 1rem;
  line-height: 2;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

#counter .day::before {
  content: 'D';
}
#counter .hour::before {
  content: 'H';
}
#counter .minute::before {
  content: 'M';
}
#counter .second::before {
  content: 'S';
}

@tailwind utilities;

@layer base {
  p {
    @apply mb-4 font-thin;
  }
}
